* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
}

body {
  background-color: #c3cfe2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: auto;
  width: 500px;
}

header {
  margin: auto;
  padding-top:40px;
  padding-bottom: 10px;
}

.box {
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 30px;
}

h1 {
  font-family: fantasy;
  font-size: 40px;
}

h3 {
  text-align: center;
  margin: 0 0 10px 0;
}

header > p {
  font-size: 10px;
  padding: 10px;
  font-weight: 100;
  text-align: center;
  font-style: italic;
  border-radius: 5px;
}

.the_word {
  font-size: 30px;
  padding: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 5px;
  margin: 20px 0;
  font-weight: 900;
}


.gues-box {
  background-color: rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

.guess, .restart{
  margin: 10px 0 10px 10px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

.guess {
  background-color: white;
  color: green;
}

.restart {
  background-color: white;
  color: red;
}

.guess:hover{
  cursor: pointer;
  background-color: green;
  color: white;
}

.restart:hover{
  cursor: pointer;
  background-color: red;
  color: white;
}

.guessed_letters{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  letter-spacing: 5px;
}

input {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

input:focus{
  outline: none;
}

.lives {
  color: white;
  padding-top: 15px;
}

p {
  margin-top: 10px;
}

.win,
.lose {
  text-align: center;
  margin: 40px;
  display: none;
}

.win h2 {
  padding: 20px;
  color: red;
}

.lose h2 {
  padding: 20px;
  color: blue;
}

.win h2, .lose h2{
  animation-name: zoom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes zoom{
  from{ transform: scale(0.5);} 
  to{ transform: scale(2);} 
}

.anim-wrapper{
  width: 330px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
}

.anim-wrapper img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}